<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./dialog.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>
  <body>
    <div class="container">
      <div class="row"> 

        <section class="conversations">
          <div class="conversation conversations-header"></div>
          <div class="conversation conversations-body">
            <div class="conversation conversation-active">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_orc.jpg);"></div>
              <div class="conversation-summary">
                <p class="name">Twilight Skies (2)</p>
                <p class="link">https://warcraft.wiki.gg/wiki/Twilight_Skies_(2)</p>
              </div>
              <div class="timer">12 sec</div>
            </div>
    
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <!-- <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div>
  
            <div class="conversation">
              <div class="conversation-image" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg);">
              </div>
              <div class="conversation-summary">
                <p class="name">Dave Corlew</p>
                <p class="link">Let's meet for a coffee or something today ?</p>
              </div>
              <div class="timer">3 min</div>
            </div> -->
          </div>
        </section>

        <section class="conversation-messages">
          <div class="conversation-messages-header">
            <i class="icon fa fa-comments-o" aria-hidden="true"></i>
            <p class="name">Twilight Skies (2)</p>
          </div>
          <div class="conversation-messages-list">
            <div class="message">
                <p class="active-text"> <span>Loudspeaker says:</span> Zeppelin arrival in six minutes. </p>
            </div>
            <div class="message">
              <p> <span>Hobart Grapplehammer says:</span> Boarding the Spear of Durotar, are we? You are to be envied, Horde marine!</p>
            </div>
            <div class="message">
              <p> <span> Hobart Grapplehammer says:</span> You are about to rip the horizon a new sky-hole aboard a sensational new era in aeronautical innovation.</p>
            </div>
            <div class="message">
              <p> <span>Hobart Grapplehammer says:</span> It's been recklessly engineered with a merciless disregard for both budgetary concerns and those cumbersome, inefficient "laws of physics."</p>
            </div>
            <div class="message">
              <p> <span>Assistant Greely says:</span> Not a penny was wasted on comfort or personal safety!</p>
            </div>
          </div>
        </section>

      </div>
    </div>
  </body>

  <!-- https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_orc.jpg -->
  <!-- https://wow.zamimg.com/images/wow/icons/large/inv_misc_tournaments_banner_human.jpg -->

    <!-- <div class="container">
      <div class="row">
        <section class="conversations">
          
          <div class="conversation search"/>
        
          <div class="conversation message-active">
            <div class="photo" style="background-image: url(https://warcraft.wiki.gg/images/c/c4/Horde_15.png);">
            </div>
            <div class="desc-contact">
              <p class="name">TWILIGHT SKIES (2)</p>
            </div>
            <div class="expansion" style="background-image: url(https://warcraft.wiki.gg/images/thumb/6/61/Dragonflight-Icon-Inline.png/48px-Dragonflight-Icon-Inline.png);">
          </div>

        </section>

        <section class="chat">
          <div class="header-chat">
            <i class="icon fa fa-user-o" aria-hidden="true"></i>
            <p class="name">Twilight Skies (2)</p>
          </div>
          <div class="messages-chat">
            <div class="message">
              <p class="text"> <span>Loudspeaker says:</span> Zeppelin arrival in six minutes. </p>
            </div>
            <div class="message">
              <p class="text"> <span>Hobart Grapplehammer says:</span> Boarding the Spear of Durotar, are we? You are to be envied, Horde marine!</p>
            </div>
            <div class="message">
              <div class="response">
                <p class="text"> <span> Hobart Grapplehammer says:</span> You are about to rip the horizon a new sky-hole aboard a sensational new era in aeronautical innovation.</p>
              </div>
            </div>
            <div class="message">
              <p class="text"> <span>Hobart Grapplehammer says:</span> It's been recklessly engineered with a merciless disregard for both budgetary concerns and those cumbersome, inefficient "laws of physics."</p>
            </div>
            <div class="message">
              <p class="text"> <span>Assistant Greely says:</span> Not a penny was wasted on comfort or personal safety!</p>
            </div>
          </div>
          <div class="footer-chat"></div>
        </section>
      </div>
    </div> -->
</html>