* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden; /* Prevent global scroll */
}

.conversations {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: 100%; /* Make .conversations fill the container height */
  overflow: hidden; /* Hide overflow */
  background-color: #193549;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.conversations.collapsed {
  flex: 0 0 86px;
  min-width: 86px;
}

.conversations-header {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 90px;
}

.conversations-body {
  flex: 1 1 auto;
  min-width: 300px;
  overflow-y: auto;
}

.conversation {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.conversation:not(.conversation-active):hover {
  background-color: #163042;
}

.conversation-active {
  background-color: #164976;
}

.conversation-image {
  flex: 0 0 auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.conversation-summary {
  flex: 1 1 100px;
  min-width: 100px;
  max-width: calc(100% - 110px);
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conversation-expansion-image {
  width: 50px;
  height: 20px;
  flex: 0 0 auto;
  margin-left: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.name {
  font-size: 11pt;
  font-weight: bold;
  color: #f0d000;
}

.link {
  font-size: 9pt;
  color: #f0d000;
  margin-top: 6px;
}

.collapse-btn {
  background-color: transparent;
  border: none;
  color: #f0d000;
  font-size: 34px;
  cursor: pointer;
  margin-left: 20px;
  min-width: 45px;
}

.conversation.collapsed .conversation-summary,
.conversation.collapsed .conversation-expansion-image {
  display: none;
}

.conversation-messages {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.conversation-messages-header {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 30px;
  background-color: #122738;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  color: #f0d000;
}

.conversation-messages-header .icon {
  font-size: 24pt;
  margin-right: 20px;
}

.conversation-messages-header .name {
  text-transform: uppercase;
  font-size: 13pt;
}

.conversation-messages-list {
  flex: 1;
  overflow-y: auto;
  padding: 25px 35px;
  background-color: #163042;
}

.message {
  margin-bottom: 8px;
}

.message p {
  padding: 15px;
  border-radius: 12px;
  background-color: #193549;
}

.message span {
  font-weight: bold;
}

.active-text {
  background-color: #3c5e76 !important;
}

.text-say {
  color: #e6e68e;
}

.text-yell {
  color: #ff4040;
}

.text-whisper {
  color: #f8b0de;
}

.conversation-messages-list::-webkit-scrollbar,
.conversations-body::-webkit-scrollbar {
  width: 4px;
}

.conversation-messages-list::-webkit-scrollbar-track,
.conversations-body::-webkit-scrollbar-track {
  background-color: #3f4750;
}

.conversation-messages-list::-webkit-scrollbar-thumb,
.conversations-body::-webkit-scrollbar-thumb {
  background-color: #9b9fa4;
  border-radius: 10px;
}
