body {
    padding: 5%;
    background-color: #F5F5F5;
  }
  
  .container {
    padding:0;
    background-color: #FFF; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 90vh;
  }
  
  .conversations {
    width: 35%;
    height: 90vh;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
    overflow: hidden;
    display: inline-block;
  }
  
  .conversations .conversation {
    width: 100%;
    height: 90px;
    background-color: #25303E;
    display:flex;
    align-items: center;
    cursor: pointer;
	background-color: #193549;
  }
  
  .conversations .conversations-header {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #E0E0E0;
	background-color: #193549;
	height: 90px;
  }
  
  .conversations .conversations-body {
	display: inline-block;
	height: calc(100% - 90px);
    overflow-y:scroll;
    overflow-x:hidden;
	background-color: #193549;
  }
  
  .conversations .conversations-body::-webkit-scrollbar {
  width: 4px;
}

.conversations .conversations-body::-webkit-scrollbar-track {
  background-color: #3F4750;
}

.conversations .conversations-body::-webkit-scrollbar-thumb {
  background-color: #9B9FA4;
  border-radius: 10px;
}
  
  .conversations .conversation-active {
    height: 70px;
    background-color: #164976;
  }
  
  .conversations .conversation .conversation-image {
      margin-left:20px;
      display: block;
      width: 45px;
      height: 45px;
      background: #E6E7ED;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .conversations .conversation .conversation-expansion-image {
	margin-left: auto;
	margin-right: 16px;
    display: block;
    width: 50px;
    aspect-ratio: auto 50 / 20;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
      
  .conversation-summary {
    height: 43px;
    width:50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .conversations .conversation .name {
    margin: 0 0 0 20px;
    font-family:'Montserrat', sans-serif;
    font-size: 11pt;
    color:#f0d000;
	font-weight: bold;
  }
  
  .conversations .conversation .link {
    margin: 6px 0 0 20px;
    font-family:'Montserrat', sans-serif;
    font-size: 9pt;
    color:#f0d000;
  }
  
  .conversation-messages {
    width: 65%;
	height: 90vh;
  }
  
  .conversation-messages-header {
    background-color: #122738;
    height: 90px;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
    display:flex;
    align-items: center;
	font-weight: bold;
	color:#f0d000;
  }
  
  .conversation-messages .conversation-messages-header .icon {
    margin-left: 30px;
    font-size: 24pt;
  }
  
  .conversation-messages .conversation-messages-header .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 13pt;
  }
  
  .conversation-messages .conversation-messages-header .right {
    position: absolute;
    right: 40px;
  }
  
  .conversation-messages .conversation-messages-list {
    padding: 25px 35px;
	overflow-y:scroll;
    overflow-x:hidden;
	height: calc(100% - 90px);
	background-color: #163042;
  }
  
    .conversation-messages .conversation-messages-list::-webkit-scrollbar {
  width: 4px;
}

.conversation-messages .conversation-messages-list::-webkit-scrollbar-track {
  background-color: #3F4750;
}

.conversation-messages .conversation-messages-list::-webkit-scrollbar-thumb {
  background-color: #9B9FA4;
  border-radius: 10px;
}
  
  .conversation-messages .conversation-messages-list .message {
    display:flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .conversation-messages .conversation-messages-list .message .photo {
      display: block;
      width: 45px;
      height: 45px;
      background: #E6E7ED;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .conversation-messages .conversation-messages-list p {
    margin: 0 35px;
    background-color: #193549;
    padding: 15px;
    border-radius: 12px;
  }
  
  .conversation-messages .conversation-messages-list span {
    font-weight: bold
  }
  
  .conversation-messages .conversation-messages-list .active-text {
    background-color: #3C5E76 !important;
  }
  
  .text-say {
    color: #E6E68E;
}

.text-yell {
    color: #FF4040;
}

.text-whisper {
    color: #F8B0DE;
}
  
  .text-only {
    margin-left: 45px;
  }